/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f7fb;
  color: #333;
  line-height: 1.6;
}

/* MENÚ */
nav {
  background: #3b3b3b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

nav h2 {
  font-size: 28px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li {
  cursor: pointer;
  transition: 0.3s;
}

nav ul li:hover {
  color: #93c5fd;
}

/* HERO */
.saludo {
  height: 80vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085")
      center/cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 20px;
}

.saludo h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

.saludo p {
  font-size: 22px;
  margin-bottom: 20px;
}

.saludo button {
  padding: 12px 25px;
  border: none;
  background: #060508;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #838383;
  transform: scale(1.05);
}

/* TARJETAS */
.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 220px;
  padding: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #dbeafe;
}

/* FORMULARIO */
section form {
  background: white;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

section h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 35px;
}

form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

form button {
  padding: 12px;
  border: none;
  background: #1e40af;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #1d4ed8;
}

/* FOOTER */
footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

/* query responsivo */

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
